<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About HackLB</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-lg-offset-2">
                    <p>HackLB was launched in the fall of 2016 by <a href="http://rogerhoward.name">Roger Howard</a>, a Long Beach native, indepedent software developer, and member of the <a href="https://longbeach.legistar.com/DepartmentDetail.aspx?ID=29138&GUID=60328914-1543-4F2A-843F-2D869B68C347">Long Beach Technology &amp; Innovation Commission</a>. The primary activity of HackLB today is the <a href="/#dlf">Data Liberation Front</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>