<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>{{ site.address_city }}, {{ site.address_state }}</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        {% if site.twitter_username %}
                         <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fa fa-twitter fa-3x"></i></a>
                        {% endif %}
                        {% if site.github_username %}
                             <a href="https://github.com/{{ site.github_username }}"><i class="fa fa-github fa-3x"></i></a>
                        {% endif %}
                        {% if site.facebook_url %}
                        <a href="{{ site.facebook_url }}"><i class="fa fa-facebook fa-3x"></i></a>
                        {% endif %}
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>About {{ site.title }}</h3>
                    <p>Dedicated to improving Long Beach through positive hactivism.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; HackLB {{ site.time | date: "%Y" }}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
