<!-- About Section -->
    <section class="success" id="opendata">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Open Goverment and Open Data</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>Per <a href="https://en.wikipedia.org/wiki/Open_government">Wikipedia</a>, open government can be understood as:</p>

                    <blockquote>...the governing doctrine which holds that citizens have the right to access the documents and proceedings of the government to allow for effective public oversight</blockquote>

                    <p>Therefore, open data is a significant driver of open government - without open access to the information used by decision makers, citizens are at an inherent disadvantage when questioning, confronting, and simply understanding policy choices made on their behalf.</p>

                    <p>Long Beach civic leadership has acknowledged the importance of open data and in 2015 solicited input in order to craft a policy suitable for our community. We look forward to this policy being adopted, and to working with the city to advance the actual and broad availability of data to better inform our neighbors, organizations, and other stakeholders.</p>

                    <p>Meanwhile, HackLB is here to work on liberating existing data - information that is already available in some form. We don't engage with private data - anything intended for a limited audience, the best indicator being security restrictions such as usernames and passwords is offlimits to our efforts. However, when we find public information in a format that's restrictive, in an application with limited functionality, or just in a location that's not central and accessible, we will work to scrape, aggregate, cleanup, and make available openly and without restriction, and to do so while striving at all costs to minimize negative impacts of our actions.</p>

                </div>
            </div>
        </div>
    </section>